<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-6 d-none d-md-flex bg-image">
      <img class="img-fluid d-none d-sm-block" src="assets/img/nba.png" alt="Imagem de um gato para as boas vindas" />
    </div>
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <form (ngSubmit)="login()" #loginForm="ngForm">
                <div class="form-group mb-3">
                  <input id="inputUsuario" type="text" placeholder="Usuario" required="" autofocus=""
                    class="form-control rounded-pill border-0 shadow-sm px-4" [(ngModel)]="usuario" name="usuario"
                    #campoUsuario="ngModel" required />
                  <app-mensagem *ngIf="campoUsuario.invalid && campoUsuario.touched" mensagem="Usuário obrigatório">
                  </app-mensagem>
                </div>
                <div class="form-group mb-3">
                  <input id="inputPassword" type="password" placeholder="Senha" required=""
                    class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" [(ngModel)]="senha"
                    name="senha" #campoSenha="ngModel" required />
                  <app-mensagem *ngIf="campoSenha.invalid && campoSenha.touched" mensagem="Senha obrigatória">
                  </app-mensagem>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                </div>
                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"
                  style="width: 265px;" [disabled]="loginForm.invalid">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
