<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Lista de Produtos</span>
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Produto</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Localização</th>
                                <th scope="col">Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Coca Cola</th>
                                <td>Bebida</td>
                                <td>São Paulo</td>
                                <td>2,50</td>
                                <td>
                                    <i class="fa-solid fa-pen-to-square text-primary"></i>
                                    <i class="fa-solid fa-trash text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <th>Malboro Ligth</th>
                                <td>Cigarro</td>
                                <td>Rio de Janeiro</td>
                                <td>4,80</td>
                                <td>
                                    <i class="fa-solid fa-pen-to-square text-primary"></i>
                                    <i class="fa-solid fa-trash text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <th>Notebook Lenovo</th>
                                <td>Computador</td>
                                <td>São Paulo</td>
                                <td>2.850,00</td>
                                <td>
                                    <i class="fa-solid fa-pen-to-square text-primary"></i>
                                    <i class="fa-solid fa-trash text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success float-end" routerLink="/criar-produto">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</div>